{% load static %}
<!DOCTYPE <html></html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %}</title>
	

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">	

	<link rel="stylesheet" type="text/css" href="css/base.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

	{% block css %}{% endblock %}

</head>
<body>
	<nav class="navbar navbar-default">
  		<div class="container-fluid">    	
		    <div class="navbar-header">
		    	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        	<span class="sr-only">Toggle navigation</span>
		      	</button>
		    	<a class="navbar-brand my-brand" href="#">Ask me</a>
		    </div>
	    	
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		    	<form class="navbar-form navbar-left" role="search" method="GET" action="">
		        	<div class="form-group">
		          		<input id="search-string" type="text" class="form-control" placeholder="Search ..." name="search">
		        	</div>
		        	<button type="submit" class="btn btn-success">Go !</button>
		      	</form>
		      	<ul class="nav navbar-nav navbar-right">
		        	<li><a href="#" class="ava-link"><img src="ava.jpg" width="32" height="32"></a></li>
		        	<li class="dropdown">
		          		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Никита Чижиков<span class="caret"></span></a>
		          		<ul class="dropdown-menu">
		            		<li>		            			
		            			<a href="#"><span class="glyphicon glyphicon-cog menu-icon" aria-hidden="true"></span>Настройки</a>
		            		</li>
		            		<li role="separator" class="divider"></li>
		            		<li><a href="#"><span class="glyphicon glyphicon-log-out menu-icon" aria-hidden="true"></span>Выход</a></li>
		          		</ul>
		        	</li>
		      	</ul>
		    </div>
  		</div>
	</nav>
	<hr>
	<div class="wrap">
		<div class="row">		
			<div class="col-md-10">
				{% block content %}

				{% endblock %}
			</div>
	  		<div class="col-md-2">
	  			<div class="row">
	  				<div class="col-md-12 tags-container">
	  					<h4>Популярные теги</h4>
	  						<a href="#" class="bg-primary tag"><span>tag1</span></a>
	  						<a href="#" class="bg-primary tag"><span>tag2</span></a>
	  						<a href="#" class="bg-primary tag"><span>tag3</span></a>
	  						<a href="#" class="bg-primary tag"><span>tag4</span></a>
	  						<a href="#" class="bg-primary tag"><span>tag5</span></a>
	  						<a href="#" class="bg-primary tag"><span>tag6</span></a>
	  						<a href="#" class="bg-primary tag"><span>tag7</span></a>	  						
	  				</div>
	  			</div>
	  			<div class="row">
	  				<div class="col-md-12">
	  					<h4>Пользователи</h4>
	  					<p><a href="#">Иванов</a></p>
						<p><a href="#">Петоров</a></p>
						<p><a href="#">Сидоров</a></p>
						<p><a href="#">Чижиков</a></p>
	  				</div>
	  			</div>
	  		</div>
		</div>
	</div>


{% block scripts %}{% endblock %}
</body>
</html>